*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}


/* .box
    {
        position: absolute;
        background-color: #F6F8F9;
    
        border:1px solid #F6F8F9;
        float: center;
        width: 100%; 
        padding:20px;
        height:800px;



    } */
    body {
        font-family: "Roboto";
        background: #F6F8F9;
        /* border: 1px solid red; */
      }
      
    .whole
    {
        display: flex;
        flex-direction:column;
        align-items: center;
        align-content:center ;
    }
    .box2
    {
        margin:auto;
        width: 96%;
        margin-top:2%;
        background: #FFFFFF;
        box-shadow: 1px 1px #f1f0f0;
        border-radius: 10px;
    
    }
    .header
    {
        padding-top: 4%;
        padding-right: 100px;
        color: #747474;
        font-size: 16px;
    }
    .texta
    {
        padding-top: 3%;
    }
    #p
    {
        cursor: pointer;
    }
    .text
    {
     padding-left:80px;
     font-size: 19.5px;
     color: #747474;
     padding-top: 1%;
    }
    
    .email
    {
        padding-top: 30px;
        padding-right:370px; 
        color: #747474;
    }
    
    .textbox
    {
        padding-right:10px;
    }
    button

    {
        background-color: #32BDD2;
        color: white;
        border:none;
        border-radius: 20px;
        margin: 10px;
        padding: 8px 10px;
        width:100px;
    }
    .button
    {
       padding-right: 33%; 
        padding-top: 50px;
        width:180px;
    }
    button:hover {
        opacity: 0.8;
      }