.box
    {
        position: absolute;
        background-color: #F6F8F9;
    
        border:1px solid #F6F8F9;
        float: center;
        width: 100%; 
        padding:20px;
        height:800px;



    }
    .box2
    {
        float: center;
        background-color: white;
        margin-top:15px;
        height: 750px;
        width: 98%; 
        border-radius: 20px;
         border: 1px solid grey;
         box-shadow: 1px 1px gray;
         margin-left: 15px;
        padding: 20px;
    }
    .header
    {
        padding-top: 130px;
        padding-right: 90px;
        color: #747474;
    }
    .text
    {
     padding-left: 30px;
     font-size: 19.5px;
     color: #747474;
    }
    .texta
    {
        font-size: 19.5px; 
        padding-right: 150px;
        color: #747474;
        
    }
    .email
    {
        padding-top: 30px;
        padding-right:370px; 
        color: #747474;
    }
    
    .textbox
    {
        padding-right:10px;
    }
    button

    {
        background-color: #32BDD2;
        color: white;
        border:none;
        border-radius: 20px;
        margin: 10px;
        padding: 8px 10px;
        width:100px;
    }
    .button
    {
        padding-right: 310px; 
        padding-top: 50px;
        width:180px;
    }
