.box
    {
        position: absolute;
        background-color: #F6F8F9;
        border:1px solid #F6F8F9;
        float: center;
        width: 100%; 
        height:800px;

        

    }
    .box2
    {
        float: center;
        background-color: white;
        margin-top:15px;
        height: 750px;
        width: 98%; 
        border-radius: 20px;
         border: 1px solid #F6F8F9;
         box-shadow: 1px 1px gray;
         margin-left: 15px;
    
    }
    .header
{
    font-size: 20px;
    padding-left: 500px;
    color: #595959;
    padding-top: 50px;
    display: flex;
    align-items: center;
}
.text
{
    font-size: 20px;
    padding-left: 500px;
    color: #747474;
}
.email
    {
    padding-left:500px;
    color:#505050;
    }
    .textbox1
    {
        padding-left: 500px;
    }
    .mm
    {
    padding-bottom: 30px;
    color:#505050;
    }
    .warning1
{
    
        color:#BF574A;
        font-size: 15px;
        padding-right:500px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    

}
.ppp
{
padding-left: 40px;

}
.re
{
    padding-left: 110px;
}
.ppp1
{
padding-left: 40px;
}
.re1
{
    padding-left: 170px;
}
.main
{
    padding-bottom: 30px;
}
button
    {

        background-color: #32BDD2;
        color: white;
        border:none;
        border-radius: 20px;
        margin: 10px;
        width:120px;
        height:40px;
    
    }
    .button
    {
        padding-right: 260px;
        padding-top: 20px;
        padding-left: 490px;
    }   