/* .box
{
    position: absolute;
    float:center;
    height: 800px;
    width: 100%;
    background-color:  #747474;
    border: 1px solid black;
    padding: 20px;

} */
body {
    font-family: "Roboto";
    background: #747474;
    /* border: 1px solid red; */
  }
  
.whole
{
    display: flex;
    flex-direction:column;
    align-items: center;
    align-content:center ;
}
.box2
{
    margin:auto;
    width: 70%;
    margin-top:10%;
    margin-bottom: 5%;
    background: #FFFFFF;
    box-shadow: 1px 1px #f1f0f0;
    border-radius: 10px;
    margin-left: 15%;

}

.header
{
    font-size: 20px;
    padding-left: 90px;
    color: #595959;
    
}
.main
{
    padding-bottom: 6%;

}
.text
{
    font-size: 20px;
    color: #747474;
    padding-left: 10%;

}
#p
{
    cursor: pointer;
}