.box1
{
    position: absolute;
    margin-left: 200px;
    margin-right: 300px;
    background-color: grey;
    border: 1px solid black;
    height: 900px;
    width: 60%;
    margin-block-start: 40px;
    margin-bottom: 30px;
    float:center;

}
.box2
{
    float: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color:white;
    width:50%; 
    margin-left: 250px;
    margin-right:300px;
    margin-top: 294px; 
    height:50px;
    border:1px solid black;
    border-block-end-width: 1px solid black;

}
.Additem
{
    float:left;
    padding-left: 20px;
   
}

.button1
{
    float:right;
    padding-right:20px;
    padding-top: 15px;
} 




.box3
{
    float: center;
    background-color: white;   
     width:50%;
     height:500px;
     border:1px solid black;
     margin-left: 250px;
}
.d
{
    float: left;
    padding-left:20px; 
    padding-bottom: 40px;
}
.qty
{
    float: left;
    padding-left:20px; 
}
.fdd
{
    float: left;
    padding-left:20px; 
}
.ap
{
    float: left;
    padding-left:20px; 
}
.box4
{
float: center;
background-color:white;
width:50%;
height:50px;
border:1px solid black;
margin-left: 250px;
}

.cancel{
    float:left;
    padding-left:20px;
    padding-top: 10px;
}
.button2
{
    float:right;
    padding-right:20px;
    padding-top: 10px;
}

