.forgotpassword-box {
    position:absolute;
    margin-left:400px;
    margin-right:400px;
    float: center;
    align-content: center;
    border-radius:2%;
    background-color:white;
    border: 1px solid black;
    width:30%;
    height:300px;
    float: center;
    align-content: center;
    padding: 40px;
}
.forgotpassword
{
    float: center;
    height: 200px;
    align-content: center;
    border-radius: 20px;
    border:2px solid black;
    border-block-start-width: 10px;
    border-left-width: 5px;
    border-right-width: 5px;
    border-block-end-width: 20px;
    padding: 40px;
}
.button
{
    float:left;
    padding:10px;
    
}