
.login-box {
    margin-top: 60px;
    position:absolute;
    margin-left:350px;
    margin-right:250px;
    margin-bottom: 50px;
    border-radius:5%;
    background-color:white;
    border: 2px solid grey;
    width:50%;
    height:500px;
  float: center;
  padding: 20px;
}
.box2
{
    float: center;
    align-content: center;
    border-radius: 20px;
    border:1px solid grey;
    border-block-start-width: 10px;
    border-left-width: 5px;
    border-right-width: 5px;
    border-block-end-width: 10px;
    padding: 40px;
    height:400px;
    
}
.Login
{
padding-right:257px;
}

.textbox
{
    float:left;
    padding-left:160px;
    
}
.forgotpassword
{

  float: right;
  padding-right:160px;
}
button
{

    padding-right:280px;
    background-color:#32BDD2;
    color:white;
    border: none;
    margin: 10px;
    border-radius:10px;
    width:20%;
    padding:8px 10px;
    height:30px;
}
.button
{
    padding-right: 260px;
}
.Email
{
    padding-right: 230px;
}
.password   
{
    padding-right:265px;
}