.login-box {
    position:absolute;
    margin-left:400px;
    margin-right:400px;
    border-radius:5%;
    background-color:white;
    border: 2px solid black;
    width:30%;
    height:500px;
  float: center;
  padding: 20px;
}
.box2
{
    float: center;
    align-content: center;
    border-radius: 20px;
    border:1px solid black;
    border-block-start-width: 10px;
    border-left-width: 5px;
    border-right-width: 5px;
    border-block-end-width: 10px;
    padding: 40px;
    height:400px;
    
}
.textbox
{
    float:left;
    
}
.rememberme 
{
    float: left;
    
}
.forgotpassword
{
  float: right;  
}
.button
{
    float:center;
    padding:20px;
}
.warning1
{
    font-size: 10px;
    padding-right:70px;
    color:red; 
} 
.warning2
{
    font-size: 10px;
    padding-right:70px; 
    color:red;
} 
