* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body{
    margin:auto;
    background-color: #F6F8F9;
    box-shadow: 1px 1px 1px 2px #D8D3D3;
    font-family: 'Roboto';
}



.head-flex{
    padding-top:0.6%;
    padding-bottom: 0.6%;
    background-color:#FFFFFF;
    margin-bottom: 20px;
    box-shadow: 1px 1px 1px 1px #D8D3D3;
    /* border:1px solid green; */
}
.left-top-flex{
    display: flex;
    float: left;
    justify-content:center;
    flex-direction:row;
    align-items: center;
    width: 5%;
    padding-left: 1%;
}
  
.right-top-flex{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content:flex-end;
    width: 95%;
    padding-right: 2.2%;
}

.right-top-flex-data{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content:center;   
}

.right-top-flex-data-img{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content:center;
    width: 30%;
    padding: 2px;  
}
.box2
{
   border:1px solid #f6f8f9;
   background-color: #F6F8F9;
   width:90%;
   float: center;
}
.box3
{
    margin: auto;
    float: center;
   width: 90%;
   height: 600px;
   border: 1px solid #f6f8f9;
   background-color: white;
   margin-left:10%;
   margin-top: 3%;
}
#p
{
    cursor: pointer;
}
.box4
{
    float: left;
    padding-top: 30px;
    width: 5%;
    height: 600px;
    border: 1px solid #f6f8f9;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.req
{
transform: rotate(-90deg);
padding-bottom: 10px;
padding-right: 90px;    
​
}
.image
{
    padding-top:6%;
}
.box5
{
    float: right;
    width:94.72%;
    height: 600px;
    border: 1px solid #f6f8f9;
}
.note
{
    margin-top: 6%;
    padding-left: 40px;
}
.text
{
    padding-left: 40px;
    color: #747474;
    font-size: 12px;
    margin-bottom: 2%;
}
.label
{
    width: 422.89px;
    height: 98.54px;
    border: 1px solid #B5B5B5;
    margin-left: 40px;
}
.req
{
    padding-left: 40px;
}
.text2
{
    padding-left: 40px;
    color: #747474;
    font-size: 12px;
    margin-top:3%;
}
.column
{
    padding-left: 18px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.bullet
{
   margin-top: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 9%;
    justify-content: space-between;
    padding-left: 20px; 
}
.bullet1
{
   margin-top: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 24%;
    justify-content: space-between;
    padding-left: 20px; 
    
}
.bullet2
{
   margin-top: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 15%;
    justify-content: space-between;
    padding-left: 20px; 
​}
.bottom
{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;

}
.save
{
    padding-left: 40px;
    padding-top: 80px;
    color: #595959;
    font-size: 12px;
}
.button
{

    padding-left:0%;
    padding-top: 100px;
}
button
{
    width: 90px;
    height: 30px;
    color: white;
    background-color: #32BDD2;
    border-radius: 50px;
}
#p
{
    cursor: pointer;
}

.right-top-flex-data-txt{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    width: 60%;  
    padding: 2px; 
    color:#595959;
    font-size:14px;
    font-weight: bold;
}

.right-top-flex-data-last-img{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    width: 10%;
    padding: 2px;
}

#image{
    border-radius: 50%;
}




.data-flex{
  width: 96%;
  margin:auto;
  display: flex;
  flex-direction:row;
  align-items: center;
  background-color: #FFFFFF;
  box-shadow: 1px 1px 1px 2px #D8D3D3;

}
.right-main-flex{
    display: flex;
    flex-direction:column;
    padding-left: 50px;
    padding-right: 35px;
    width: 90%;
    justify-content: flex-start;
  }
  
  .right-main-data-flex{
    display: flex;
    flex-direction:column;
    background: #F0F0F0;
    width: 100%;
    padding-top:20px;
    padding-bottom:20px;
    margin-top: 40px;
  }