.box1
{

    border:1px solid #f6f8f9;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}
.burger
{
    padding-left: 20px;
}
.right
{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 7%;
    justify-content: space-between;
    padding-right: 20px;
    font-size: 18px;

}
.box2
{
   border: 1px solid #f6f8f9;
   background-color: #F6F8F9;
   height: 1650px;
   width: 100%;
  border:1px solid #F6F8F9;
   float: center;
}
.box3
{
    width:5.07%;
    height:1550px;
    margin-top:20px;
    float:left;
    border:1px solid #FCFCFC;
    margin-left: 40px;
    border-right-color:#FCFCFC;
    background-color: white;
    font-size: 16px;

    

}
.rotate
{
    transform:rotate(-90deg);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 120px;
    padding-bottom: 40px;
    color: #000000;
    
    
}
.link
{
    padding-top: 130px;

}
.box4
{
    width:90.5%;
    height:1550px;
    margin-top: 20px;
    float:right;
    border:1px solid #FCFCFC;
    margin-right: 30px;
    border-left-color: #FCFCFC;
    

}
.cancel
{
    float:left;
    padding-left:50px;
    padding-top: 180px;
    color:#5A5A5A;
    font-size: 18px;
}
button
{

    background-color: #32BDD2;
    color: white;
    border:none;
    border-radius: 10px;
    margin: 10px;
    width:100px;
    height:30px;
    
}
.button
{
    padding-right: 50px;
    padding-top: 180px;
    display:flex;
    flex-direction: row;
    color:#32BDD2;
    justify-content: space-between;
    width:15%;
}
.end
{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding-top:150px;
    

    
}

    
     
    
.box5
{
    width: 92.8%;
    flex-direction: row;
    height: 80px;
    border: 1px solid #F0F0F0;
    background-color:#F0F0F0;
    float: center;
    margin-left: 55px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around; 

    
    
}
.p
{
    padding-right:750px;
    color: #747474;
    padding-left: 50px;

}
.Additems
{
    display: flex;
    align-content: flex-end;
    justify-content: space-around;
    flex-direction: row;
    font-size: 18px;
    width:13%;
    color: #747474;
    
    
}
.plus
{
    padding-top: 12px;
}
.box6
{
    width: 90%;
    height:200px;
    border: 1px solid #F0F0F0;
    background-color: white;
    margin-left: 55px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; 
    padding-left: 40px;
    color: #747474;
}
.parag
{
    padding-right: 200px;
    font-size: 18px;

}

.main
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width:55%;
}
