*
{
    margin: 0%;
    padding: 0%;
}
.pu
{
    width:100%;
    height: 40px;
    border: 1px solid black;
}

.a

{
    float:left;
    width:10%;
    color: black;
    

}
.b
{
    float:right;
    width: 90%;
    color:black;
    

}
.t
{
    float:right;
}