.box1
{

    border:1px solid #f6f8f9;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}
.burger
{
    padding-left: 20px;
}
.right
{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 7%;
    justify-content: space-between;
    padding-right: 20px;
    font-size: 18px;

}
.box2
{
   border: 1px solid #f6f8f9;
   background-color: #F6F8F9;
   height: 950px;
   width: 100%;
  border:1px solid #F6F8F9;
   float: center;
}
.box3
{
    width:5.07%;
    height:850px;
    margin-top:20px;
    float:left;
    border:1px solid #FCFCFC;
    margin-left: 40px;
    border-right-color:#FCFCFC;
    background-color: white;
    font-size: 16px;

    

}
.rotate
{
    transform:rotate(-90deg);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 120px;
    padding-bottom: 40px;
    color: #000000;
    
    
}
.link
{
    padding-top: 130px;

}
.box4
{
    width:90.5%;
    height:850px;
    margin-top: 20px;
    float:right;
    border:1px solid #FCFCFC;
    margin-right: 30px;
    border-left-color: #FCFCFC;
    

}
.head
{
    padding-left: 40px;
    color:#000000;
    font-size:15px;
}
.req
{
    padding-left: 40px;
    color:#000000;
    font-size:15px;
    padding-top: 39px;

}
.note 
{
    font-size:16px;
    color:#747474;
    padding-left:40px;

}
.boxa
{
    padding-left: 40px;
    padding-top: 39px;
    border:#B5B5B5;
}
.note2
{
    font-size:16px;
    color:#747474;
    padding-left:40px;
}
.para
{
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 20px;
    font-size: 16px;
    color:#747474;
}
.right
{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 9.5%;
    justify-content: space-around   ;
    padding-right: 20px;

}
.right2
{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 20.5%;
    justify-content: space-around;
    padding-right: 20px;

     }
.right3
{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 13%;
    justify-content: space-around;
    padding-right: 20px;
}
.cancel
{
    float:left;
    padding-left:40px;
    padding-top: 180px;
    color:#5A5A5A;
}
button
{

    background-color: #32BDD2;
    color: white;
    border:none;
    border-radius: 10px;
    margin: 10px;
    width:100px;
    height:30px;
    
}
.button
{
    padding-right: 40px;
    padding-top: 180px;
}
.end
{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between

    
}

    
     
    